.header{
    display:flex;
    background-color:transparent;
    background: none;
    position: fixed;
    width:100vw;
    top: 0%;
    z-index: 100;
}

.header__logo{
    height: 24px;
    width:100px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__center{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top:5px;
    margin-left:10%;
}

.header__center>p{
    margin: 10px;
    font-size:14px;
    letter-spacing:1px;
    font-weight:900 !important;
    text-transform: uppercase;
}

.header__right{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    margin-right: 1%;
    margin-top: 5px;
}

.header__right>p{
    margin:10px;
    font-size: 14px;
    letter-spacing:1px;
    font-weight:900 !important;
}
